{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection page-width{% if show_mobile_slider %} page-width-desktop{% endif %} section-{{ section.id }}-padding">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %} title-wrapper--no-top-margin">
        <h2 class="title {{ section.settings.heading_size }}">Bộ sưu tập mèo </h2>
  
        {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
          <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
        {%- endif -%}
      </div>
    {%- endunless -%}
      <div class="content">
        <div class="item">
          <img src="https://i.pinimg.com/550x/9d/a1/25/9da1255cf1e6b1f8d96f0f38ad991ed3.jpg" alt="" srcset="">
          <div class="bgm"></div>
          <div class="buy">Mua ngay</div>
        </div> 
        
        <div class="item">
          <img src="https://i.ytimg.com/vi/Zr-qM5Vrd0g/maxresdefault.jpg" alt="" srcset="">
          <div class="bgm"></div>
          <div class="buy">Mua ngay</div>
        </div> 
        <div class="item">
          <img src="https://i.bloganchoi.com/bloganchoi.com/wp-content/uploads/2020/10/meme-hai-huoc-moi-nhat-159-696x642.jpg?fit=700%2C20000&quality=95&ssl=1" alt="" srcset="">
          <div class="bgm"></div>
          <div class="buy">Mua ngay</div>
          <!-- /hehe -->
        </div> 
        <div class="item">
          <img src="https://s.keepmeme.com/files/en_posts/20200908/blurred-surprised-cat-meme-5b734a45210ef3b6657bcbe2831715fa.jpg" alt="" srcset="">
          <div class="bgm"></div>
          <div class="buy">Mua ngay</div>
        </div> 
      </div>
   
  
   
  </div>
</div>

